{% set server_key = server.key.urlsafe() %}
{% extends "base.html" %}
{% block body %}
<h2>{{ server.server_name }}</h2>

<dl class="dl-horizontal">
    <dt>Radius config:</dt>
    <dd>
        <p> IP: {{ server.ip_address }}<br/>
            Subnet: {{ server.subnet_mask }}<br/>
            Gateway: {{ server.gateway }}</p>
    </dd>

    <dt>Cisco config:</dt>
    <dd>
        <p>IP: {{ server.cisco_ip_address }} <br />
        Subnet: {{ server.cisco_subnet_mask }} <br />
        Gateway: {{ server.cisco_gateway }} <br />
        IP Range: {{ server.cisco_ip_range }}</p>
    </dd>

    <dt>DNS:</dt>
    <dd>
        <p> {{ server.dns1|default('-', true) }} <br />
        {{ server.dns2|default('-', true) }}</p>
    </dd>

    <dt>Expire date:</dt>
    <dd>
        <p>{{ server.expire_date }}
        {% if server.is_expired() %}
            <span class="label label-important">expired</span> 
        {% elif server.is_expires_today() %}
            <span class="label label-warning">today</span>
        {% endif %}
        </p>
    </dd>

    <dt>Blocked:</dt>
    <dd>
        {% if server.blocked %}
        <span class="label label-important">Blocked</span>
        {% else %}
        -
        {% endif %}
    </dd>

    <dt>User limit:</dt>
    <dd><p>{{ server.user_limit|default('-', true) }}</p></dd>

    <dt>Token:</dt>
    <dd>
    <p>{{ server.token }}</p>
    </dd>

    <dt>Login details:</dt>
    <dd>
        <table class="table table-striped table-condensed" style="width:auto">
            {% if server.login_infos().count() %}
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th></th>
                </tr>
            </thead>
            {% else %}
            -
            {% endif %}
            <tbody>
                {% for login_info in server.login_infos() %}
                    <tr>
                        <td> {{ login_info.url|urlize(30) }}</td>
                        <td> {{ login_info.username }} </td>
                        <td> {{ login_info.password }} </td>
                        <td> <a href="{{ url_for("server.delete_login_info", login_info_key=login_info.key.urlsafe()) }}" class="btn btn-mini" onclick="return confirm('Are you sure?')">delete</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </dd>
</dl>

<div class="form-actions" style="padding-left: 80px;">
    <a class="btn span2" href="{{ url_for("server.edit", server_key=server.key.urlsafe()) }}">Edit</a>
    <a class="btn span2" href="{{ url_for("server.update_login_info", server_key=server.key.urlsafe()) }}">Add login info</a>
    <a class="btn span2" href="{{ url_for("server.delete", server_key=server.key.urlsafe()) }}" onclick="return confirm('Are you sure?')">Delete</a>
</div>
{% endblock %}

