label{
    width: 120px;
    text-align:right;
    display: inline-block;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    height: auto !important;
}

.container-fluid{
    padding-top: 20px;
}

#protocol li {
    list-style-type: none;
    float:left;
    width: 60px;
}

#protocol li label {
    width: auto;
}
