<!doctype html>
<head>
    {% block head %}
    <title>ISP</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    {% endblock %}
</head>
<body>
    {% if server %}
        {% set server_key = server.key() %}
    {% endif %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 well">
                <ul class="nav nav-list">
                    <li {% if request.path == "/" %}class="active"{% endif %}><a href="{{ url_for("index") }}">Home</a></li>
                    <li class="divider"></li>
                    {% for server in servers %}
                    <li {% if server.key()~"" == server_key~"" %}class="active"{% endif %}><a href="{{ url_for("server.show", server_key=server.key()) }}">{{ server.server_name }}</a></li>
                    {% endfor %}
                    <li class="divider"></li>
                    <li {% if request.path == "/server/add" %}class="active"{% endif %}><a href="{{ url_for("server.add") }}">Add New Server</a></li>
                    {% if account.is_admin() %}
                    <li {% if request.path.startswith("/account") %}class="active"{% endif %}><a href="{{ url_for("account.list") }}">Accounts</a>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{{ logout_url }}">Logout</a></li>
                </ul>
            </div>
            <div class="span10">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert">
                        {% for message in messages %}
                            <button type="button" class="close">&times;</button>
                            <strong>{{ message }}</strong>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                {% block body %}{% endblock %}            
            </div>
        </div>
    </div>
</body>
