{% extends "base.html" %}
{% block body %}
<style>
    div.box{
        width:170px;
        height:160px;
        padding:10px;
        border:5px solid black;
        margin:10px;
    }
</style>
{% for server in servers %}
 <script type="text/javascript">
     $(function() {
         $(".radius").sparkline({{ server.radius_response }}, { type: 'bar',
             chartRangeMin: 0});
         $(".cisco").sparkline({{ server.cisco_response }}, { type: 'bar',
             chartRangeMin: 0});
     });
 </script>
 <div class="box">
     <h5>{{ server.server_name }} server </h5><br>
    <p>Radius: <span class="radius">....</span></p>
    <p>Cisco: <span class="cisco">....</span></p>
</div>
{% endfor %}
{% endblock %}
