{% extends "base.html" %}
{% block body %}

{% for server in servers %}
<script type="text/javascript">
$(function() {
    $("#radius{{ server.key.id() }}").sparkline({{ server.radius_response }}, { type: 'bar', chartRangeMin: 0});
    $("#cisco{{ server.key.id() }}").sparkline({{ server.cisco_response }}, { type: 'bar', chartRangeMin: 0});
});
</script>

<div class="box">
    <h5>{{ server.server_name }} server </h5>
    <p>Radius: <span id="radius{{ server.key.id() }}"></span></p>
    <p>Cisco:  <span id="cisco{{ server.key.id() }}"></span></p>
</div>
{% endfor %}

{% endblock %}
